body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("background.jpg");
}
header{
    height: 225px;
}

.center {
    height: 225px;

}

.bottom {
    height: 225px;

}

button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}


header {
    padding: 20px;
    font-size: 40px;
}

.display {
    background-color: greenyellow;
    color: grey;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    border-width: 40px;
    border-color: black;
    padding: 20px;
}

.weaponOfChoice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.throwWinner{
    vertical-align: middle;
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    height: 125px;
    width: 125px;
    background-color:green;
}
.weaponOfChoice p{
    vertical-align: middle;
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    height: 125px;
    width: 125px;
    background-color: lightskyblue;
}


.selected {
    background: orange;
    color: blue;
    border: solidcolor;
    margin: 1px;
    padding: 5px;
    border: black;
    display: inline-block;
    }
}